.gender{
  color: whitesmoke;
}
.name-text {
  text-transform: uppercase;
  text-size-adjust: 20px;
  color: #00ed64;
}
.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-default{
  
  object-fit: cover;
}

.image {
  object-fit: cover;
}

.card {
  background-color: #001e2b;
  border-radius: 30px;
  border: 1px solid white;

  border-color: rgb(158, 158, 158);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  color: #fff;
  padding: 20px;
  width: 300px;
}

.card:hover {
  background-color: #061621;

  transform: scale(1.05);
  transition: 0.5s ease;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
}

.name {
  text-align: center;
}

h2 {
  margin-top: 0;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  /* background-color: #00ED64; */
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.delete {
  background-color: #dc3545;
  margin-left: 10px;
}

.delete:hover {
  background-color: #c82333;
}

//view button

@import url("https://fonts.googleapis.com/css?family=Mukta:700");

$bg: #f3f8fa;
$white: #fff;
$black: #00ed64;

@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  &.learn-more {
    width: 12rem;
    height: auto;
    .circle {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: relative;
      display: block;
      margin: 0;
      width: 3rem;
      height: 3rem;
      background: $black;
      border-radius: 1.625rem;
      .icon {
        @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $white;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: "";
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65, 0, 0.076, 1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: $black;
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      text-transform: uppercase;
    }
  }
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
          background: $white;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: $white;
    }
  }
}
