.document-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.document-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.btn-upload {
  background-color: #00ed64; /* Green */
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.btn-upload:hover {
  background-color: #00ed64;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f8;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

li:hover {
  background-color: #ddd;
}

.text-lg {
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}

.fa-download {
  font-size: 20px;
}

.fa-download:hover {
  color: blue;
}

.add-doc{
  color: #ccc;
}
