.nav-bar {
    margin: 0;
    overflow: hidden;
    background-color: #116149;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-size-adjust: unset;
  }
  
  .nav-text {
    
    color: white;
    
   
    padding-top: 20px;
    padding-left: 85px;
  }

  
  