.nav-bar {
    margin: 0;
    overflow: hidden;
    background-color: #5928e5;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-size-adjust: unset;
  }
  
  .nav-text {
    font-size: 20px;
    font-style: bold;
    color: white;
    text-decoration: none;
    padding-top: 20px;
    padding-left: 85px;
  }
  